body{
	background: rgb(110, 175, 132);
	font-family: Verdana, Helvetica, Arial;
  	font-size: 14px;
}
.container{
	width: 80%;
  	margin: 0 auto;
  	background-color: #FFF;
  	padding: 20px 40px;
  	border: solid 1px black;
  	margin-top: 20px;
}
#otros{
	margin: auto;
	padding: auto;
	color:#000;
	text-align: center
}
.pagination li>a{
	color:#000 !important;	
}
.pagination ul > .active > a, .pagination ul > .active > span {
	background-color: rgb(219, 219, 219) !important;
}