{% extends "base.html" %}
{% block titulo %}
	Home
{% endblock titulo %}
{% block contenido %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					<h3>Imagen</h3>
				</th>
				<th>
					<h3>Nombre</h3>
				</th>
				<th>
					<h3>Apellidos</h3>
				</th>
				<th>
					<h3>Edad</h3>
				</th>
				
			</tr>
		</thead>
		<tbody>

			{% for usuario in usuarios %}
			<tr>
				<td style="width:100px"><img src="{{ MEDIA_URL}}{{ usuario.imagen }}"></td>
				<td>{{ usuario.nombre }}</td>
				<td>{{ usuario.apellidos }}</td>
				<td>{{ usuario.edad }}</td>
				<td>
					<a href="{% url 'editar' usuario.id %}" class="btn btn-small">Editar</a>
					
					<a href="{% url 'eliminar' usuario.id %}" class="btn btn-small btn-danger">Eliminar</a>

				</td>
			</tr>
			{% empty %}
				<tr>
					<td>No hay usuarios registrados</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{% url 'registrar' %}" class="btn btn-success">Agregar usuario</a>
{% endblock contenido %}


	
{% if is_paginated %}
{% load i18n %}
{% block otros %}
<div class="pagination">
	<span class="current">
            Page {{ usuarios.number }} of {{ usuarios.paginator.num_pages }}.<br>
        </span>
    <ul>
        {% if usuarios.has_previous %}
            <li><a href="?page={{ usuarios.previous_page_number }}">prev</a></li>
        {% else %}
        	<li><a href="#">prev</a></li>
        {% endif %}

        {% if usuarios.has_next %}
            <li><a href="?page={{ usuarios.next_page_number }}">next</a></li>
        {% else %}
        	<li><a href="#">next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock otros %}
{% endif %}

